:root {
  --font-family-main: 'Nunito Sans', sans-serif;

  // Размеры
  --navbar-height: 50px;

  // цвета
  --purple-blue: #605dec;
  --grey-100: #fafafa;
  --grey-400: #7c8db0;
  --grey-600: #6e7491;
}
