.Footer {
}

.topContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bottomContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
