.app.dark {
  --bg-color: #27273f;
  --inverted-bg-color: #fff;
  --primary-color: #fafafa;
  --secondary-color: #fafafa;
  --inverted-primary-color: #605dec;
  --inverted-secondary-color: #605dec;
}
