.app.dark {
  --bg-color: #27273f;
  --inverted-bg-color: #fff ;
  --primary-color: #FAFAFA
  --secondary-color: #FAFAFA;
  --inverted-primary-color: #605DEC;
  --inverted-secondary-color: #605DEC;
}
