@import '../../../../../src/app/styles/mixins/text-styles.scss';

.Navbar {
  margin-left: auto;
}

.links {
  display: flex;
  align-items: center;
  gap: 16px;
}

.navLink {
  @include body-default;
}
