.Header {
  width: 100%;
  height: var(--navbar-height);
  background-color: transparent;
  display: flex;
  align-items: center;
  padding: 8px 24px;
}

.switchers {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-left: 30px;
}
