@mixin primary-btn-pink {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  height: 46px;
  padding: 14px 52px;
  color: var(--white);
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.02em;
  background-color: var(--rose);
  border: none;
  border-radius: 30px;
  outline: none;

  &:hover {
    background-color: var(--dark-pink);
  }
}
